.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}
.item, .item:focus {
    outline: none;
}
.slick-slider .slick-track, .slick-slider .slick-tracks,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
/*
.slick-tracks
{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-tracks {
    position: absolute;
    top: auto;
    left: 0;
    height: 100%;
    width: 100%;
    bottom: 0;
}
.slick-track:before, .slick-tracks:before,
.slick-track:after, .slick-tracks:after
{
    display: table;

    content: '';
}
.slick-track:after, .slick-tracks:after
{
    clear: both;
}
.slick-loading .slick-track, .slick-loading .slick-tracks
{
    visibility: hidden;
}

.slick-slide, .slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}*/
[dir='rtl'] .slick-slide, .slick-slide
{
    float: left;
}
.slick-slide img, .slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img, .slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img, .slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide, .slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide, .slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide, .slick-verticalReverse .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
