@model PageModel

@{
    ViewData["Title"] = Html.Raw(Model.Title);
    ViewData["Description"] = Model.Description;

    if (!Model.IsCannonical)
    {
        ViewData["canonical"] = Model.FullUrl;
    }

    Layout = "~/Views/Shared/User/_Layout.cshtml";
}

<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="page-next-level">
                    <h4 class="title"> @Model.Title </h4>
                    <div class="page-next">
                        <nav aria-label="breadcrumb" class="d-inline-block">
                            <ul class="breadcrumb bg-white rounded shadow mb-0">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Strona główna</a></li>
                                <li class="breadcrumb-item"><i class="fas fa-arrow-right"></i></li>
                                <li class="breadcrumb-item">@Model.Title</li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>  <!--end col-->
        </div><!--end row-->
    </div> <!--end container-->
</section><!--end section-->

<section class="bg-light text-left p-4">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-lg-12 col-md-12">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</section>