@model LoginView

@{
    ViewData["Title"] = "Logowanie";
    Layout = "~/Views/Shared/Login/_Layout.cshtml";
}

<div class="login-aside w-50 d-flex align-items-center justify-content-center bg-white">
    <div class="container container-login container-transparent animated fadeIn">
        <h3 class="text-center">Zaloguj do panelu</h3>
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login-form" }))
        {
            <div class="form-group">
                <label for="username" class="placeholder"><b>Login</b></label>
                @Html.TextBoxFor(x => x.Login, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="password" class="placeholder"><b>Hasło</b></label>
                <a href="#" class="link float-right">Zapomniałeś hasła?</a>
                <div class="position-relative">
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                    <div class="show-password">
                        <i class="icon-eye"></i>
                    </div>
                </div>
            </div>
            <div class="form-group form-action-d-flex mb-3">
                <div class="custom-control custom-checkbox">
                    @Html.CheckBoxFor(x => x.RemberMe, new { @class = "custom-control-input", @id = "rememberme" })
                    <label class="custom-control-label m-0" for="rememberme">Zapamiętać?</label>
                </div>
                <button type="submit" class="btn btn-secondary col-md-5 float-right mt-3 mt-sm-0 fw-bold">Zaloguj</button>
            </div>
        }
    </div>
</div>


