<!-- About start -->
<section id="about">
    <div class="pt-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 wow fadeInLeft">
                    <div> <img alt="features" src="~/user/images/jaroslaw_armatys.jpg"> </div>
                </div>
                <div class="col-lg-6 col-md-12 mx-auto text-md-left wow fadeInRight">
                    <div class="skill-box-two sm-mt-5 md-mb-5">
                        <div class="main-title mb-5 text-md-left wow fadeIn" data-wow-delay="300ms">
                            <h5> Witaj na mojej stronie!</h5>
                            <h2 class="ml-0"> Nazywam się Jarosław Armatys. </h2>
                            <p>
                                Jestem web developerem z ponad dwuletnim doświadczeniem. Tworzenie stron to moja
                                pasja, do której podchodzę z pełnym zaangażowaniem. Z chęcią zapoznam się z Twoim
                                biznesem i zaprojektuję idealne rozwiązanie, które wprowadzi Twoją firmę do
                                internetu, bądź poprawi jej obecne wyniki.
                            </p>
                        </div>
                        <div class="row custom-progress mrl-xs-0 align-items-center">
                            <div class="col-md-3 col-sm-12">
                                <h6 class="mb-0 "> Tworzenie stron</h6>
                            </div>
                            <div class="col-md-8 col-sm-9">
                                <div class="progress mt-0">
                                    <div class="progress-bar progress-bar-striped bg-pink" role="progressbar"
                                         aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                        <span class="sr-only">95%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-3"><b class="font-16 font-weight-500">95%</b></div>
                        </div>
                        <div class="row custom-progress mrl-xs-0 align-items-center">
                            <div class="col-md-3 col-sm-12">
                                <h6 class="mb-0 "> Projektowanie graficzne</h6>
                            </div>
                            <div class="col-md-8 col-sm-9">
                                <div class="progress mt-0">
                                    <div class="progress-bar progress-bar-striped bg-pink" role="progressbar"
                                         aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                        <span class="sr-only">70%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-3"><b class="font-16 font-weight-500">70%</b></div>
                        </div>
                        <div class="row custom-progress mrl-xs-0 align-items-center">
                            <div class="col-md-3 col-sm-12">
                                <h6 class="mb-0 "> Pozycjonowanie</h6>
                            </div>
                            <div class="col-md-8 col-sm-9">
                                <div class="progress mt-0">
                                    <div class="progress-bar progress-bar-striped bg-pink" role="progressbar"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                        <span class="sr-only">75%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-3"><b class="font-16 font-weight-500">75%</b></div>
                        </div>
                        <div class="row custom-progress mrl-xs-0 align-items-center mb-0">
                            <div class="col-md-3 col-sm-12">
                                <h6 class="mb-0 "> Administracja stronami</h6>
                            </div>
                            <div class="col-md-8 col-sm-9">
                                <div class="progress mt-0">
                                    <div class="progress-bar progress-bar-striped bg-pink" role="progressbar"
                                         aria-valuenow="87" aria-valuemin="0" aria-valuemax="100">
                                        <span class="sr-only">87%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-3"><b class="font-16 font-weight-500">87%</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About ends -->
