<!-- Blog start -->
<section id="blog">
    <div class="blog-vertical">
        <h2 class="d-none">Sekcja blogowa</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 p-0 carousel-img">
                    <div class="item">
                        <div class="image hover-effect">
                            <img alt="stats" src="#" class="video-img-setting">
                        </div>
                    </div>
                    <div class="item">
                        <div class="image hover-effect">
                            <img alt="stats" src="#" class="video-img-setting">
                        </div>
                    </div>
                    <div class="item">
                        <div class="image hover-effect">
                            <img alt="stats" src="#" class="video-img-setting">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 p-0">
                    <div class="carousel-content">
                        <div class="item blog-content-setting">
                            <div class="text-center mx-auto container-padding">
                                <div class="pr-3 pl-3 text-xs-center w-100">
                                    <h5 class="font-secondary font-weight-light color-pink mb-5 mb-xxs-3">
                                        December
                                        21, 2018
                                    </h5>
                                    <h2 class="color-black font-weight-500 text-capitalize mb-5 mb-xxs-3">
                                        a
                                        creative design agency in east london.
                                    </h2>
                                    <p class="color-black heading-para-setting mb-5 mb-xxs-3">
                                        Curabitur mollis
                                        bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor
                                        nunc vitae diam eleifend, in maximus metus sollicitudin.
                                    </p>
                                    <a href="blog.html" class="btn-setting btn-hvr-setting-main btn-pink">
                                        Read Full
                                        Blog
                                        <span class="btn-hvr-setting btn-hvr-grey">
                                            <span class="btn-hvr-setting-inner">
                                                <span class="btn-hvr-effect"></span>
                                                <span class="btn-hvr-effect"></span>
                                                <span class="btn-hvr-effect"></span>
                                                <span class="btn-hvr-effect"></span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item blog-content-setting">
                            <div class="text-center mx-auto container-padding">
                                <div class="pr-3 pl-3 text-xs-center w-100">
                                    <h5 class="font-secondary font-weight-light color-pink mb-5 mb-xxs-3">
                                        December
                                        21, 2018
                                    </h5>
                                    <h2 class="color-black font-weight-500 text-capitalize mb-5 mb-xxs-3">
                                        a
                                        creative design agency in east london.
                                    </h2>
                                    <p class="color-black heading-para-setting  mb-5 mb-xxs-3">
                                        Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit.
                                        Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin.
                                    </p>
                                    <a href="blog.html" class="btn-setting btn-hvr-setting-main btn-pink">
                                        Read Full
                                        Blog
                                        <span class="btn-hvr-setting btn-hvr-grey">
                                            <span class="btn-hvr-setting-inner">
                                                <span class="btn-hvr-effect"></span>
                                                <span class="btn-hvr-effect"></span>
                                                <span class="btn-hvr-effect"></span>
                                                <span class="btn-hvr-effect"></span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item blog-content-setting">
                            <div class="text-center mx-auto container-padding">
                                <div class="pr-3 pl-3 text-xs-center w-100">
                                    <h5 class="font-secondary font-weight-light color-pink mb-5 mb-xxs-3">
                                        December
                                        21, 2018
                                    </h5>
                                    <h2 class="color-black font-weight-500 text-capitalize mb-5 mb-xxs-3">
                                        a
                                        creative design agency in east london.
                                    </h2>
                                    <p class="color-black heading-para-setting mb-5 mb-xxs-3">
                                        Curabitur mollis
                                        bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor
                                        nunc vitae diam eleifend, in maximus metus sollicitudin.
                                    </p>
                                    <a href="blog.html" class="btn-setting btn-hvr-setting-main btn-pink">
                                        Read Full
                                        Blog
                                        <span class="btn-hvr-setting btn-hvr-grey">
                                            <span class="btn-hvr-setting-inner">
                                                <span class="btn-hvr-effect"></span>
                                                <span class="btn-hvr-effect"></span>
                                                <span class="btn-hvr-effect"></span>
                                                <span class="btn-hvr-effect"></span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Blog ends -->