@{
    var homeData = ViewData["HomeData"] as HomeView;
}

<!-- Footer starts -->
<footer class="p-half bg-black2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <ul class="footer-icons mb-4">
                    @foreach (var socialMedium in homeData.SocialMedias)
                    {
                        <li>
                            <a target="_blank" href="@socialMedium.Link" class="wow fadeInUp">
                                <i class="@socialMedium.FontAwesome"></i>
                            </a>
                        </li>
                    }
                </ul>
                <p class="copyrights mt-2 mb-2">Copyright &copy; Jarosław Armatys @DateTime.Now.ToString("yyyy")</p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer ends -->