@{
    @inject IHomeService HomeService
    var homeData = await HomeService.GetHomeProperties();
}

<!-- Footer Start -->
<footer class="footer footer-bar">
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="text-sm-left">
                    <p class="mb-0">&copy; @DateTime.Now.ToString("yyyy") Copyright - CMSOpen <a style="margin-left:5px;" href="https://github.com/jarmatys/CMS"><i style="color:floralwhite;" class="fab fa-github-alt"></i></a></p>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</footer><!--end footer-->
<!-- Footer End -->
<!-- Back to top -->
<a href="#" class="btn btn-icon btn-soft-primary back-to-top"><i data-feather="arrow-up" class="icons"></i></a>
<!-- Back to top -->