<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="Strony stworzone przeze mnie charakteryzują się nowoczesnością i intuicyjnością. Wykonam stronę wizytówkową, bloga, sklep internetowy oraz dedykowany system przeglądarkowy.Wykonam również projekt graficzny do strony internetowej przy pomocy Illustratora i Photoshopa.">
<meta name="keywords" content="Portfolio Jarosław Armatys wordpress sklep wizytówka blog strony www aplikacje internetowe grafika projekty graficzne illustator Photoshopa">
<meta name="author" content="Jarosław Armatys">

<title>Jarosław Armatys - Profesjonalne strony internetowe i aplikacje WWW - @ViewBag.Title</title>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

<!-- Favicon -->
<link rel="icon" href="~/user/images/favicon.png">