<!DOCTYPE html>
<html lang="PL-pl">
<head> 

    <link rel="stylesheet" href="~/boundle/css/mainUserCss.min.css">
    <link rel="stylesheet" href="~/boundle/css/slick.min.css">
    <link rel="stylesheet" href="~/boundle/css/style.min.css">

    @await Html.PartialAsync("User/_Head")
</head>
<body>

    @await Html.PartialAsync("User/_Loader")
    @await Html.PartialAsync("User/_Header")
    @await Html.PartialAsync("User/_FullMenu")

    @RenderBody()

    @await Html.PartialAsync("User/_Footer")
    @await Html.PartialAsync("User/_Scripts")
    @RenderSection("homeScripts", required: false)

</body>
</html>