<!-- Contact & Map starts -->
<section id="contact">
    <div class="container">
        <div class="row pb-half ">
            <div class="col-lg-6 col-md-12 col-sm-12 mb-5 wow fadeInUp " data-wow-delay="400ms">
                <div class="contact-box-shadow">
                    <div class="text-left sm-text-center w-100">
                        <h2 class="color-black font-weight-500 mb-2rem"> Skontaktuj się ze mną</h2>
                        <p class="contact-para-setting">
                            Jeżeli masz jakiekolwiek pytania, napisz do mnie. Z chęcią wyjaśnię
                            cały proces powstawania strony, jak i rozwieję wszelkie wątpliwości.
                        </p>
                    </div>
                    <div class="contact-info sm-text-center">
                        <div class="icon-box">
                            <i class="ti ti-mobile color-pink"></i>
                            <p class="color-grey"> +(48) 660 972 497</p>
                        </div>
                        <div class="icon-box">
                            <i class="ti ti-email color-pink"></i>
                            <p>
                                <a href="mailto:jaroslaw@armatys.me" class="color-grey">jaroslaw@armatys.me</a>
                            </p>
                        </div>
                        <div class="icon-box">
                            <i class="ti ti-location-pin color-pink"></i>
                            <p class="color-grey"> Wrocław i Racibórz</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 mb-5 col-map wow fadeInUp" data-wow-delay="400ms">
                <div id="google-map" class="bg-light-gray map"></div>
            </div>
        </div>
    </div>
</section>
