@{
    @inject IHomeService HomeService
    var homeData = await HomeService.GetHomeProperties();
}


    <ul class="navigation-menu">
        @if (ViewData["isHome"] != null)
        {
            <li><a href="#home">Główna</a></li>
            <li><a href="#cms">CMS</a></li>
            @if (homeData.Articles.Count() == 3)
            {
                <li><a href="#blog">Aktualności</a></li>
            }
            <li><a href="#contact">Kontakt</a></li>
        }
        else
        {
            <li><a href="@Url.Action("Index","Home")#home">Home</a></li>
            <li><a href="@Url.Action("Index","Home")#cms">CMS</a></li>
            <li><a href="@Url.Action("List","Blog")">Aktualności</a></li>
            <li><a href="@Url.Action("Index","Home")#contact">Kontakt</a></li>
        }
    </ul>