<!-- Client start -->
<section id="opinion" class="parallax-setting parallaxie parallax-bg-1">
    <h2 class="d-none">Opinie zadowolych klientów</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 offset-md-6 wow fadeInRight">
                <div class="owl-carousel owl-theme testimonial-two">
                    <div class="testimonial-item">
                        <p class="color-black testimonial-para mb-15px">
                            Od samego początku dobry kontakt z Panem
                            Jarkiem, takie sprawy jak szukanie rozwiązań dla klienta i kompleksowe działanie to jest
                            to co robi różnice. I kolejna ważna sprawa: zaangażowanie od początku do końca .
                        </p>

                        <div class="testimonial-post">
                            <div class="text-content">
                                <h5 class="color-black text-capitalize">Pan Tomasz</h5>
                                <p class="color-pink"> rozwazny.pl </p>
                                <div class="rating">
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <p class="color-black testimonial-para mb-15px">
                            Bardzo sprawne i profesjonalne, Mega plus
                            za wysoka jakość i prace zgodnie z harmonogramem, polecam.
                        </p>

                        <div class="testimonial-post">
                            <div class="text-content">
                                <h5 class="color-black text-capitalize">Pan Dariusz</h5>
                                <p class="color-pink"> ubezpieczeniazrabatem.pl</p>
                                <div class="rating">
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <p class="color-black testimonial-para mb-15px">
                            Miła i profesjonalna obsługa. Strona
                            spełnia moje oczekiwania w 100%. Z czystym sumieniem mogę polecić usługi Pana Jarka.
                        </p>

                        <div class="testimonial-post">
                            <div class="text-content">
                                <h5 class="color-black text-capitalize">Pani Agata</h5>
                                <p class="color-pink"> ubezpieczeniaraciborz.pl </p>
                                <div class="rating">
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <p class="color-black testimonial-para mb-15px">
                            Praca z Jarkiem to sama przyjemność.
                            Wszystko załatwia szybko i profesjonalnie. Jak najbardziej polecam!
                        </p>

                        <div class="testimonial-post">
                            <div class="text-content">
                                <h5 class="color-black text-capitalize">Pani Marcelina</h5>
                                <p class="color-pink"> marcyblog.com </p>
                                <div class="rating">
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <p class="color-black testimonial-para mb-15px">
                            Sympatyczna i profesjonalna współpraca.
                            Polecam.
                        </p>

                        <div class="testimonial-post">
                            <div class="text-content">
                                <h5 class="color-black text-capitalize">Pani Dorota</h5>
                                <p class="color-pink"> przepracujzlosc.pl </p>
                                <div class="rating">
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <p class="color-black testimonial-para mb-15px">
                            Wszystko jak najbardziej ok, dobry kontakt,
                            szybkie wykonanie zlecenia.
                        </p>

                        <div class="testimonial-post">
                            <div class="text-content">
                                <h5 class="color-black text-capitalize">Pan Kamil</h5>
                                <p class="color-pink"> academy.ipteco.com</p>
                                <div class="rating">
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <p class="color-black testimonial-para mb-15px">
                            Profesjonalnie i sprawnie. bardzo dobry
                            kontakt i wyrozumiałość na potrzeby zamawiającego.
                        </p>

                        <div class="testimonial-post">
                            <div class="text-content">
                                <h5 class="color-black text-capitalize">Pan Grzegorz</h5>
                                <p class="color-pink"> powycinane.pl</p>
                                <div class="rating">
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                    <i class="ti ti-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Client ends -->
