<!-- Work Starts -->
<section id="portfolio" class="portfolio-two bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-title mb-2rem wow fadeIn" data-wow-delay="300ms">
                    <h5> Kilka moich projektów </h5>
                    <h2> Portfolio </h2>
                    <p>
                        Zapraszam Cię do zapoznania się z moimi ukończonymi projektami. Każdy z nich
                        został oparty na analizie potrzeb klientów oraz ich odbiorców tak, aby opracować i wykonać
                        rozwiązanie szytę na miarę.
                    </p>
                </div>
            </div>
        </div>

        <div class="row m-0 d-block">
            <div class="filtering col-sm-12 text-center pt-2 mb-40px">
                <span data-filter="*" class="active">Wszystko</span>
                <span data-filter=".web">Strony</span>
                <span data-filter=".app">Aplikacje</span>
                <span data-filter=".shop">Sklepy</span>
            </div>

            <div class="gallery text-center">

                <!-- gallery item -->
                <div class="col-md-4 items web">
                    <div class="item-img">
                        <a href="~/user/images/strona_ubezpieczeniazrabatem.jpg" data-fancybox="images">
                            <img src="~/user/images/ubezpieczniazrabatem_logo.jpg" alt="ubezpieczeniazrabatem">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">Ubezpieczeniazrabatem.pl</h4>
                                    <p>Multiagencja ubezpieczeniowa</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-4 items web">
                    <div class="item-img">
                        <a href="~/user/images/strona_akademiafitness.jpg" data-fancybox="images">
                            <img src="~/user/images/akademiafitness_logo.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">Akademia-fitness.eu</h4>
                                    <p>Klub Fitness</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-4 items app">
                    <div class="item-img">
                        <a href="~/user/images/strona_odkrywajpolske.jpg" data-fancybox="images">
                            <img src="~/user/images/odkrywajpolske_logo.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">Odkrywajpolske</h4>
                                    <p>Aplikacja internetowa</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-4 items shop">
                    <div class="item-img">
                        <a href="~/user/images/Strona_loviners.jpg" data-fancybox="images">
                            <img src="~/user/images/loviners_logo.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">Loviners</h4>
                                    <p>Sklep internetowy</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-4 items web">
                    <div class="item-img">
                        <a href="~/user/images/strona_rozwazny.jpg" data-fancybox="images">
                            <img src="~/user/images/rozwazny_logo.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">Rozwazny.pl</h4>
                                    <p>Mobilny agencja</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-8 items app">
                    <div class="item-img">
                        <a href="~/user/images/strona_lendly.jpg" data-fancybox="images">
                            <img src="~/user/images/lendly_logo.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">Lendly.pl</h4>
                                    <p>Platforma marketplace</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 items web">
                    <div class="item-img">
                        <a href="~/user/images/strona_wiatykula.jpg" data-fancybox="images">
                            <img src="~/user/images/wiatykula_logo.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">kulahome.pl</h4>
                                    <p>Producent wiat</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-4 items web">
                    <div class="item-img">
                        <a href="~/user/images/strona_powycinane.jpg" data-fancybox="images">
                            <img src="~/user/images/powycinane_logo.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">powycinane.pl</h4>
                                    <p>Przedsiębiorstwo</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-4 items web">
                    <div class="item-img">
                        <a href="~/user/images/strona_ubezpieczeniaraciborz.jpg" data-fancybox="images">
                            <img src="~/user/images/ubezpieczeniaraciborz_logo.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">Ubezpieczeniaraciborz.pl</h4>
                                    <p>Multiagnecja ubezpieczeniowa</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-8 items app">
                    <div class="item-img">
                        <a href="~/user/images/strona_shortdog.png" data-fancybox="images">
                            <img src="~/user/images/shortdog_logo.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">short.dog</h4>
                                    <p>Skracarka linków</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery item -->
                <div class="col-md-4 items web">
                    <div class="item-img">
                        <a href="~/user/images/strona_naimi.jpg" data-fancybox="images">
                            <img src="~/user/images/naimi_logo.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">Naimi.pl</h4>
                                    <p>Landing page</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery item -->
                <div class="col-md-4 items web">
                    <div class="item-img">
                        <a href="~/user/images/strona_gvolt.jpg" data-fancybox="images">
                            <img src="~/user/images/gvolt_logo.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">gvolt.pl</h4>
                                    <p>Panele fotowoltaiczne</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery item -->
                <div class="col-md-4 items web">
                    <div class="item-img">
                        <a href="~/user/images/strona_przepracujzlosc.jpg" data-fancybox="images">
                            <img src="~/user/images/przepracujzlosc_logo.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">przepracujzlosc.pl</h4>
                                    <p>Blog psychologiczny</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery item -->
                <div class="col-md-4 items web">
                    <div class="item-img">
                        <a href="~/user/images/strona_marcyblog.jpg" data-fancybox="images">
                            <img src="~/user/images/marcyblog_logo.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">marcyblog.com</h4>
                                    <p>Blog podrózniczy</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Work ends -->
