<!-- Work Starts -->
<section id="portfolio" class="portfolio-two bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-title mb-2rem wow fadeIn" data-wow-delay="300ms">
                    <h5> Kilka moich projektów </h5>
                    <h2> Portfolio </h2>
                    <p>
                        Zapraszam Cię do zapoznania się z moimi ukończonymi projektami. Każdy z nich
                        został oparty na analizie potrzeb klientów oraz ich odbiorców tak, aby opracować i wykonać
                        rozwiązanie szytę na miarę.
                    </p>
                </div>
            </div>
        </div>

        <div class="row m-0 d-block">
            <div class="filtering col-sm-12 text-center pt-2 mb-40px">
                <span data-filter="*" class="active">Wszystko</span>
                <span data-filter=".web">Strony</span>
                <span data-filter=".app">Aplikacje</span>
                <span data-filter=".shop">Sklepy</span>
            </div>

            <div class="gallery text-center">

                <!-- gallery item -->
                <div class="col-md-4 items web">
                    <div class="item-img">
                        <a href="https://res.cloudinary.com/jarmatys/image/upload/v1588866779/Portfolio/strona_ubezpieczeniazrabatem_fpfei6.jpg" data-fancybox="images">
                            <img src="https://res.cloudinary.com/jarmatys/image/upload/v1588866781/Portfolio/ubezpieczniazrabatem_logo_lyg1xg.jpg" alt="ubezpieczeniazrabatem">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">Ubezpieczeniazrabatem.pl</h4>
                                    <p>Multiagencja ubezpieczeniowa</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-4 items web">
                    <div class="item-img">
                        <a href="https://res.cloudinary.com/jarmatys/image/upload/v1588866780/Portfolio/strona_akademiafitness_kaosop.jpg" data-fancybox="images">
                            <img src="https://res.cloudinary.com/jarmatys/image/upload/v1588866783/Portfolio/akademiafitness_logo_nrmgcz.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">Akademia-fitness.eu</h4>
                                    <p>Klub Fitness</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-4 items app">
                    <div class="item-img">
                        <a href="https://res.cloudinary.com/jarmatys/image/upload/v1588866774/Portfolio/strona_odkrywajpolske_x4ltxx.jpg" data-fancybox="images">
                            <img src="https://res.cloudinary.com/jarmatys/image/upload/v1588866761/Portfolio/odkrywajpolske_logo_zgc9q2.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">Odkrywajpolske</h4>
                                    <p>Aplikacja internetowa</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-4 items shop">
                    <div class="item-img">
                        <a href="https://res.cloudinary.com/jarmatys/image/upload/v1588866773/Portfolio/Strona_loviners_oho1r6.jpg" data-fancybox="images">
                            <img src="https://res.cloudinary.com/jarmatys/image/upload/v1588866761/Portfolio/loviners_logo_mpmkj6.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">Loviners</h4>
                                    <p>Sklep internetowy</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-4 items web">
                    <div class="item-img">
                        <a href="https://res.cloudinary.com/jarmatys/image/upload/v1588866787/Portfolio/strona_rozwazny_gsh2fe.jpg" data-fancybox="images">
                            <img src="https://res.cloudinary.com/jarmatys/image/upload/v1588866763/Portfolio/rozwazny_logo_zvxjvo.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">Rozwazny.pl</h4>
                                    <p>Mobilny agencja</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-8 items app">
                    <div class="item-img">
                        <a href="https://res.cloudinary.com/jarmatys/image/upload/v1588866769/Portfolio/strona_lendly_itjuda.jpg" data-fancybox="images">
                            <img src="https://res.cloudinary.com/jarmatys/image/upload/v1588866761/Portfolio/lendly_logo_ccqmd6.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">Lendly.pl</h4>
                                    <p>Platforma marketplace</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 items web">
                    <div class="item-img">
                        <a href="https://res.cloudinary.com/jarmatys/image/upload/v1588866788/Portfolio/strona_wiatykula_ubgfdr.jpg" data-fancybox="images">
                            <img src="https://res.cloudinary.com/jarmatys/image/upload/v1588866782/Portfolio/wiatykula_logo_t2x1go.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">kulahome.pl</h4>
                                    <p>Producent wiat</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-4 items web">
                    <div class="item-img">
                        <a href="https://res.cloudinary.com/jarmatys/image/upload/v1588866776/Portfolio/strona_powycinane_ummgfu.jpg" data-fancybox="images">
                            <img src="https://res.cloudinary.com/jarmatys/image/upload/v1588866762/Portfolio/powycinane_logo_dorovk.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">powycinane.pl</h4>
                                    <p>Przedsiębiorstwo</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-4 items web">
                    <div class="item-img">
                        <a href="https://res.cloudinary.com/jarmatys/image/upload/v1588866779/Portfolio/strona_ubezpieczeniazrabatem_fpfei6.jpg" data-fancybox="images">
                            <img src="https://res.cloudinary.com/jarmatys/image/upload/v1588866780/Portfolio/ubezpieczeniaraciborz_logo_t7j4xb.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">Ubezpieczeniaraciborz.pl</h4>
                                    <p>Multiagnecja ubezpieczeniowa</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-md-8 items app">
                    <div class="item-img">
                        <a href="https://res.cloudinary.com/jarmatys/image/upload/v1588866777/Portfolio/strona_shortdog_xx6zpo.png" data-fancybox="images">
                            <img src="https://res.cloudinary.com/jarmatys/image/upload/v1588866763/Portfolio/shortdog_logo_zlvnwv.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">short.dog</h4>
                                    <p>Skracarka linków</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery item -->
                <div class="col-md-4 items web">
                    <div class="item-img">
                        <a href="https://res.cloudinary.com/jarmatys/image/upload/v1588866781/Portfolio/strona_naimi_jjmpei.jpg" data-fancybox="images">
                            <img src="https://res.cloudinary.com/jarmatys/image/upload/v1588866761/Portfolio/naimi_logo_ffucww.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">Naimi.pl</h4>
                                    <p>Landing page</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery item -->
                <div class="col-md-4 items web">
                    <div class="item-img">
                        <a href="https://res.cloudinary.com/jarmatys/image/upload/v1588866774/Portfolio/strona_gvolt_eexmb6.jpg" data-fancybox="images">
                            <img src="https://res.cloudinary.com/jarmatys/image/upload/v1588866783/Portfolio/gvolt_logo_fx091s.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">gvolt.pl</h4>
                                    <p>Panele fotowoltaiczne</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery item -->
                <div class="col-md-4 items web">
                    <div class="item-img">
                        <a href="https://res.cloudinary.com/jarmatys/image/upload/v1588866785/Portfolio/strona_przepracujzlosc_rwx47w.jpg" data-fancybox="images">
                            <img src="https://res.cloudinary.com/jarmatys/image/upload/v1588866763/Portfolio/przepracujzlosc_logo_bvcygw.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">przepracujzlosc.pl</h4>
                                    <p>Blog psychologiczny</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- gallery item -->
                <div class="col-md-4 items web">
                    <div class="item-img">
                        <a href="https://res.cloudinary.com/jarmatys/image/upload/v1588866777/Portfolio/strona_marcyblog_kcr3tx.jpg" data-fancybox="images">
                            <img src="https://res.cloudinary.com/jarmatys/image/upload/v1588866761/Portfolio/marcyblog_logo_ew9w9e.jpg" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info">
                                    <span class="plus mb-3"></span>
                                    <h4 class="mb-1">marcyblog.com</h4>
                                    <p>Blog podrózniczy</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Work ends -->
