<!-- About start -->
<section id="services" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-title mb-xs-3 wow fadeIn" data-wow-delay="300ms">
                    <h5> Usługi </h5>
                    <h2> Czym się zajmuję? </h2>
                    <p>
                        Projektuję i tworzę kompleksowe rozwiązania webowe, począwszy od prostej <strong>
                            strony
                            wizytówkowej,
                        </strong>
                        po złożone <strong>aplikacje przeglądarkowe</strong>. Bez problemu wykonam <strong>
                            sklep
                            internetowy
                        </strong> i zintegruje go
                        z niezbędnymi narzędziami. <br> <strong>Jak wyglada proces?</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4 col-sm-12 wow fadeInLeft">
                <div class="about-3-boxes">
                    <i class="ti ti-world" aria-hidden="true"></i>
                    <h4 class="color-black font-weight-normal m-0">Analiza</h4>
                    <span class="hr-line mt-2 mb-4"></span>
                    <p> Analiza potrzeb klienta oraz ustalenie celów, które ma spełniać realizowany projekt. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 wow fadeInUp">
                <div class="about-3-boxes">
                    <i class="ti ti-ruler-pencil" aria-hidden="true"></i>
                    <h4 class="color-black font-weight-normal m-0 ">Dobór rozwiązania</h4>
                    <span class="hr-line mt-2 mb-4"></span>
                    <p>
                        Dobór rozwiązania szytego na miarę potrzeb klienta tak, aby spelniał wszelkie założenia i
                        cele.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 wow fadeInRight">
                <div class="about-3-boxes">
                    <i class="ti ti-server" aria-hidden="true"></i>
                    <h4 class="color-black font-weight-normal m-0 ">Wsparcie</h4>
                    <span class="hr-line mt-2 mb-4"></span>
                    <p>
                        Nie zostawiam Cię z projektem samemu sobie. Zapewniam wsparcie merytoryczne podczas całego
                        procesu tworzenia strony.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About ends -->
