<!-- Main Section start -->
<section id="home" class="particles-version center-block p-0">
    <h2 class="d-none">heading</h2>
    <div id="particles-js" class="particle2 fullscreen parallax-setting bg-img-2">
        <div class="bg-overlay bg-dark opacity-5"></div>
        <div class="col-sm-12 text-center center-col">
            <h2 class="font-secondary mb-25px font-weight-light line-height-normal">
                <span class="text-white">
                    <span class="d-block">Zaprojektuję i wykonam</span>
                    <span id="js-rotating" class="font-weight-bold">stronę, sklep, aplikację</span>, szytą na miarę
                    Twoich potrzeb
                </span>
            </h2>
            <a href="#services" class="btn-setting btn-hvr-setting-main btn-pink btn-hvr">
                Dowiedz się więcej
                <span class="btn-hvr-setting">
                    <span class="btn-hvr-setting-inner">
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                    </span>
                </span>
            </a>
        </div>
    </div>
</section>
<!-- Main Section end -->
