
@{
    ViewData["Title"] = "ustawienia wyglądu";

    ViewData["Page"] = "AppearanceIndex";
    ViewData["Group"] = "Appearance";

    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<h1>Index</h1>

