<div class="container-fluid">
    <nav class="pull-left">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="https://armatys.me">
                    armatys.me
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                   Pomoc
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Licencja
                </a>
            </li>
        </ul>
    </nav>
    <div class="copyright ml-auto">
        &copy; @DateTime.Now.ToString("yyyy"), by <a href="https://armatys.me">Opensource CMS</a>
    </div>
</div>