
@{
    ViewData["Title"] = "dodaj medium";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Dodaj medium</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="#">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("List","Media")">Media</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                Dodaj medium
            </li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="card-title">Dodaj medium</div>
        </div>
        <div class="card-body">
            <form action="upload.php" class="dropzone">
                <div class="dz-message" data-dz-message>
                    <div class="icon">
                        <i class="flaticon-file"></i>
                    </div>
                    <h4 class="message">Przeciągnij i upuść zdjęcie tutaj</h4>
                    <div class="note">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</div>
                </div>
                <div class="fallback">
                    <input name="file" type="file" multiple />
                </div>
            </form>
        </div>
    </div>
</div>
