@model CMS.Areas.Admin.Models.View.Article.CommentView

<h1>Masz nowy komentarz</h1>

<p>
    <strong>Imię:</strong>
    @Model.Name
</p>
<p>
    <strong>Email:</strong>
    @Model.Email
</p>
<p>
    <strong>Treść:</strong>
    @Model.Content
</p>
