<section id="cms" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="features">
                    <div class="image position-relative d-inline-block">
                        <img src="~/user/images/balance-scale-solid.svg" class="avatar avatar-small" alt="">
                    </div>

                    <div class="content mt-4">
                        <h4 class="title-2">Łatwy w użyciu</h4>
                        <p class="text-muted mb-0">Interfejs użytkownika jest przystosowany pod nie techniczną osobę, tak aby mogła w łatwy sposób pulikować nowe treści.</p>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-md-4 col-12 mt-5 mt-sm-0">
                <div class="features">
                    <div class="image position-relative d-inline-block">
                        <img src="~/user/images/chart-bar-solid.svg" class="avatar avatar-small" alt="">
                    </div>

                    <div class="content mt-4">
                        <h4 class="title-2">Statystyki</h4>
                        <p class="text-muted mb-0">Kontroluj swoje wpisy, sprawdzaj wyświetlenia czy ilość komentarzy.</p>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-md-4 col-12 mt-5 mt-sm-0">
                <div class="features">
                    <div class="image position-relative d-inline-block">
                        <img src="~/user/images/exchange-alt-solid.svg" class="avatar avatar-small" alt="">
                    </div>

                    <div class="content mt-4">
                        <h4 class="title-2">Integracje</h4>
                        <p class="text-muted mb-0">System przygotowany jest tak, abyś jak naj łatwiej mógłbyś zintegrować się z Google Analitics, Czat Tawkto i wiele innych.</p>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <img src="~/user/images/safety.png" class="img-fluid shadow rounded" alt="">
            </div><!--end col-->

            <div class="col-lg-6 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="section-title ml-lg-5">
                    <h4 class="title mb-4">Przede wszystki bezpieczeństwo</h4>
                    <p class="text-muted">Due to its widespread use as filler text for layouts, non-readability is of great importance: human perception is tuned to recognize certain patterns and repetitions in texts. If the distribution of letters visual impact.</p>
                    <ul class="list-unstyled feature-list text-muted">
                        <li><i data-feather="check-circle" class="fea icon-sm text-success mr-2"></i>Certyfikat SSL</li>
                        <li><i data-feather="check-circle" class="fea icon-sm text-success mr-2"></i>Dedykowany dostęp do panelu admina</li>
                        <li><i data-feather="check-circle" class="fea icon-sm text-success mr-2"></i>Najnowsza technologia</li>
                    </ul>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="section-title mr-lg-5">
                    <h4 class="title mb-4">Bez problemowa edycja treści</h4>
                    <p class="text-muted">This prevents repetitive patterns from impairing the overall visual impression and facilitates the comparison of different typefaces. Furthermore, it is advantageous when the dummy text is relatively realistic.</p>
                    <ul class="list-unstyled feature-list text-muted">
                        <li><i data-feather="check-circle" class="fea icon-sm text-success mr-2"></i>Uproszczony do maksium proces dodawania treści</li>
                        <li><i data-feather="check-circle" class="fea icon-sm text-success mr-2"></i>Tylko najpotrzebniejsze rzeczy</li>
                    </ul>
                </div>
            </div><!--end col-->

            <div class="col-lg-5 col-md-6 order-1 order-md-2">
                <img src="~/user/images/easy.png" class="img-fluid shadow rounded" alt="">
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section>