<!DOCTYPE html>
<html lang="PL-pl">
<head>

    <script defer src="~/user/js/fontawesome.js"></script>

    <!-- Główne style aplikacji -->
    <link rel="stylesheet" href="~/boundle/css/user-css.min.css">

    <!-- Style dodatkowe -->
    <link rel="stylesheet" href="~/boundle/css/user-custom-css.min.css">

    @await Html.PartialAsync("_Head")
</head>
<body>

    @await Html.PartialAsync("_Loader")
    @await Html.PartialAsync("_Header")

    @RenderBody()

    @await Html.PartialAsync("_Footer")
    @await Html.PartialAsync("_Scripts")
    @RenderSection("homeScripts", required: false)

</body>
</html>