
@{
    ViewData["Title"] = "lista komentarzy";

    ViewData["Page"] = "CommentList";
    ViewData["Group"] = "Comment";

    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<div class="page-navs bg-white">
    <div class="nav-scroller">
        <div class="nav nav-tabs nav-line nav-color-secondary d-flex align-items-center justify-contents-center w-100">
            <a class="nav-link active show" data-toggle="tab" href="#tab1">
                Wszystkie komentarze
                <span class="count ml-1">(30)</span>
            </a>
            <a class="nav-link" data-toggle="tab" href="#tab2">Moje</a>
            <a class="nav-link" data-toggle="tab" href="#tab3">Oczekujące</a>
            <a class="nav-link" data-toggle="tab" href="#tab4">Zatwierdzone</a>
            <a class="nav-link" data-toggle="tab" href="#tab5">Spam</a>

        </div>
    </div>
</div>
<div class="page-inner">
    <div class="row row-projects">
        <div class="table-responsive">
            <table id="add-row" class="display table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Autor</th>
                        <th>Komentarz</th>
                        <th>Post</th>
                        <th>Data</th>
                        <th style="width: 10%">Operacje</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Autor</th>
                        <th>Komentarz</th>
                        <th>Post</th>
                        <th>Data</th>
                        <th style="width: 10%">Operacje</th>
                    </tr>
                </tfoot>
                <tbody>

                    <tr>
                        <td>Andrzej kowalski</td>
                        <td>Treść komentarza</td>
                        <td>link do artykułu</td>
                        <td>02-02-2020</td>
                        <td>
                            <div class="form-button-action">
                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-success btn-lg" data-original-title="Edit Task">
                                    <i class="fas fa-check"></i>
                                </button>
                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {       

            // Add Row
            $('#add-row').DataTable({
                "pageLength": 10,
            });
        
        });
    </script>
}


